<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Snowzilla!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-app="snowzilla" ng-controller="MainCtrl">
    <h1 id="movie-title">Snowzilla!</h1>
    <div class="content">
        <div class="buildings">
            <div ng-repeat="b in buildings track by $index" class="building-{{b}} a-building">
                <div class="window" ng-repeat="i in getNumber(myNumber) track by $index">
                    <div class="flame" ng-if="isDivisibleBy3($index)"></div>
                </div>
                <div class="clear:both;"></div>
            </div>
        </div>
        <div class="welcome-sign">Welcome to Anchorage, AK!</div>
        <div class="signpost">&nbsp;</div>
        <img src="img/Snowzilla2.png" class="snowzilla">
        <blockquote class="oval-speech-border snowzilla-speak">
            <p>Merry Christmas Everyone!</p>
        </blockquote>
        <blockquote class="oval-speech-border help-speak help-speak-1">
            <p>Oh the humanity!</p>
        </blockquote>
        <blockquote class="oval-speech-border help-speak help-speak-2">
            <p>Why Snowzilla, WHY!?!</p>
        </blockquote>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="js/jQueryRotateCompressed.js"></script>
    <script src="js/jquery.snow.min.1.0.js"></script>
    <script src="js/main.js"></script>
</body>
</html>